/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure height overflow is properly managed */
html,
body,
#root {
  height: 100%;
}

/* Ensure body and root element take full height */
body, html {
  height: 100%;
  margin: 0;
}
/* Custom CSS to remove ring and box-shadow on hover/focus */
.dropdown-menu-content:hover,
.dropdown-menu-content:focus {
  ring: none !important;
  box-shadow: none !important;
}

.dropdown-menu-item:hover,
.dropdown-menu-item:focus {
  ring: none !important;
  box-shadow: none !important;
}

.message-bubble {
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.message-bubble.me {
  background-color: #4caf50;
  text-align: right;
}

.message-bubble.other {
  background-color: #f1f1f1;
}

.message-input {
  padding: 10px;
  border-radius: 30px;
  background-color: #ffffff;
}
